/**
 * @file
 * Entity Registration Form toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-registrations-admin::before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.toolbar-bar .toolbar-icon-registrations-admin.is-active::before {
  background-image: url(/core/misc/icons/000000/file.svg);
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-registrations-admin::before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.toolbar-tray .toolbar-icon.toolbar-icon-registrations-admin.is-active::before {
  background-image: url(/core/misc/icons/000000/file.svg);
}
